<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Tomorrow</string>
		<key>dark</key>
		<dict>
			<key>line</key>
			<string>#282a2e</string>
			<key>selection</key>
			<string>#282A2E</string>
			<key>context</key>
			<string>#a0b475</string>
			<key>project</key>
			<string>#f9c991</string>
			<key>background</key>
			<string>#f8f8f8</string>
			<key>foreground</key>
			<string>#2D2D2D</string>
			<key>date_day</key>
			<string>#de935f</string>
			<key>priority</key>
			<string>#ae4544</string>
		</dict>
		<key>light</key>
		<dict>
			<key>completed</key>
			<string>#383838</string>
			<key>line</key>
			<string>#585858</string>
			<key>selection</key>
			<string>#585858</string>
			<key>context</key>
			<string>#55644D</string>
			<key>project</key>
			<string>#826F5D</string>
			<key>background</key>
			<string>#282828</string>
			<key>priority</key>
			<string>#ae4544</string>
			<key>date_day</key>
			<string>#2D2D2D</string>
			<key>foreground</key>
			<string>#e8e6df</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Calydon light</string>
		<key>dark</key>
		<dict>
			<key>completed</key>
			<string>#6d6d6d</string>
			<key>foreground</key>
			<string>#cdcdcd</string>
			<key>selection</key>
			<string>#4a4a4a</string>
			<key>context</key>
			<string>#917ccd</string>
			<key>project</key>
			<string>#cd4e55</string>
			<key>line</key>
			<string>#000000</string>
			<key>priority</key>
			<string>#5874cd</string>
			<key>date_day</key>
			<string>#a8cd3a</string>
			<key>background</key>
			<string>#1e1e1e</string>
		</dict>
		<key>light</key>
		<dict>
			<key>completed</key>
			<string>#7e7e7e</string>
			<key>background</key>
			<string>#eeeeee</string>
			<key>selection</key>
			<string>#4a4a4a</string>
			<key>context</key>
			<string>#917ccd</string>
			<key>project</key>
			<string>#cd4e55</string>
			<key>line</key>
			<string>#000000</string>
			<key>foreground</key>
			<string>#202020</string>
			<key>priority</key>
			<string>#5874cd</string>
			<key>date_day</key>
			<string>#7ca31b</string>
		</dict>
	</dict>
	<dict>
		<key>light</key>
		<dict>
			<key>background</key>
			<string>#fbebd4</string>
			<key>completed</key>
			<string>#d6baad</string>
			<key>selection</key>
			<string>#e4c6a5</string>
			<key>context</key>
			<string>#f79a32</string>
			<key>project</key>
			<string>#8ab1b0</string>
			<key>line</key>
			<string>#e4c6a5</string>
			<key>foreground</key>
			<string>#84613d</string>
			<key>date_day</key>
			<string>#84613d</string>
			<key>priority</key>
			<string>#98676a</string>
		</dict>
		<key>dark</key>
		<dict>
			<key>date_day</key>
			<string>#d3af86</string>
			<key>background</key>
			<string>#221a0f</string>
			<key>selection</key>
			<string>#84613d</string>
			<key>context</key>
			<string>#f06431</string>
			<key>project</key>
			<string>#8ab1b0</string>
			<key>foreground</key>
			<string>#d3af86</string>
			<key>line</key>
			<string>#5e452b</string>
			<key>priority</key>
			<string>#98676a</string>
			<key>completed</key>
			<string>#a57a4c</string>
		</dict>
		<key>name</key>
		<string>Kimbie (light)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zeus - Lighter</string>
		<key>light</key>
		<dict>
			<key>background</key>
			<string>#fafafa</string>
			<key>completed</key>
			<string>#b0bec5</string>
			<key>selection</key>
			<string>#008c8c</string>
			<key>context</key>
			<string>#f6624a</string>
			<key>project</key>
			<string>#f6624a</string>
			<key>foreground</key>
			<string>#647077</string>
			<key>line</key>
			<string>#000000</string>
			<key>date_day</key>
			<string>#c17a66</string>
			<key>priority</key>
			<string>#75a9a6</string>
		</dict>
		<key>dark</key>
		<dict>
			<key>line</key>
			<string>#000000</string>
			<key>background</key>
			<string>#212121</string>
			<key>selection</key>
			<string>#006161</string>
			<key>context</key>
			<string>#f6624a</string>
			<key>project</key>
			<string>#f6624a</string>
			<key>foreground</key>
			<string>#f8f8f2</string>
			<key>priority</key>
			<string>#a7dbd8</string>
			<key>completed</key>
			<string>#444444</string>
			<key>date_day</key>
			<string>#f3ac9a</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>RailsBase16 Tomorrow Light</string>
		<key>dark</key>
		<dict>
			<key>line</key>
			<string>#282a2e</string>
			<key>foreground</key>
			<string>#c5c8c6</string>
			<key>selection</key>
			<string>#373b41</string>
			<key>context</key>
			<string>#f0c674</string>
			<key>project</key>
			<string>#81a2be</string>
			<key>background</key>
			<string>#1d1f21</string>
			<key>completed</key>
			<string>#969896</string>
			<key>date_day</key>
			<string>#c5c8c6</string>
			<key>priority</key>
			<string>#8abeb7</string>
		</dict>
		<key>light</key>
		<dict>
			<key>line</key>
			<string>#e0e0e0</string>
			<key>foreground</key>
			<string>#373b41</string>
			<key>selection</key>
			<string>#c5c8c6</string>
			<key>context</key>
			<string>#de935f</string>
			<key>project</key>
			<string>#81a2be</string>
			<key>background</key>
			<string>#ffffff</string>
			<key>completed</key>
			<string>#b4b7b4</string>
			<key>date_day</key>
			<string>#373b41</string>
			<key>priority</key>
			<string>#a3685a</string>
		</dict>
	</dict>
	<dict>
		<key>light</key>
		<dict>
			<key>date_day</key>
			<string>#4f5b66</string>
			<key>completed</key>
			<string>#a7adba</string>
			<key>selection</key>
			<string>#c0c5ce</string>
			<key>context</key>
			<string>#d08770</string>
			<key>project</key>
			<string>#8fa1b3</string>
			<key>line</key>
			<string>#dfe1e8</string>
			<key>background</key>
			<string>#eff1f5</string>
			<key>foreground</key>
			<string>#4f5b66</string>
			<key>priority</key>
			<string>#ab7967</string>
		</dict>
		<key>dark</key>
		<dict>
			<key>background</key>
			<string>#2b303b</string>
			<key>line</key>
			<string>#343d46</string>
			<key>selection</key>
			<string>#4f5b66</string>
			<key>context</key>
			<string>#ebcb8b</string>
			<key>project</key>
			<string>#8fa1b3</string>
			<key>foreground</key>
			<string>#c0c5ce</string>
			<key>completed</key>
			<string>#65737e</string>
			<key>priority</key>
			<string>#96b5b4</string>
			<key>date_day</key>
			<string>#c0c5ce</string>
		</dict>
		<key>name</key>
		<string>RailsBase16 Ocean Light</string>
	</dict>
	<dict>
		<key>light</key>
		<dict>
			<key>background</key>
			<string>#f5eeeb</string>
			<key>completed</key>
			<string>#b8afad</string>
			<key>selection</key>
			<string>#d0c8c6</string>
			<key>context</key>
			<string>#d28b71</string>
			<key>project</key>
			<string>#8ab3b5</string>
			<key>foreground</key>
			<string>#645240</string>
			<key>priority</key>
			<string>#bb9584</string>
			<key>date_day</key>
			<string>#645240</string>
			<key>line</key>
			<string>#e9e1dd</string>
		</dict>
		<key>dark</key>
		<dict>
			<key>date_day</key>
			<string>#d0c8c6</string>
			<key>foreground</key>
			<string>#d0c8c6</string>
			<key>selection</key>
			<string>#645240</string>
			<key>context</key>
			<string>#f4bc87</string>
			<key>project</key>
			<string>#8ab3b5</string>
			<key>background</key>
			<string>#3b3228</string>
			<key>completed</key>
			<string>#7e705a</string>
			<key>line</key>
			<string>#534636</string>
			<key>priority</key>
			<string>#7bbda4</string>
		</dict>
		<key>name</key>
		<string>RailsBase16 Mocha Light</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Calydon light</string>
		<key>dark</key>
		<dict>
			<key>completed</key>
			<string>#6d6d6d</string>
			<key>foreground</key>
			<string>#cdcdcd</string>
			<key>selection</key>
			<string>#4a4a4a</string>
			<key>context</key>
			<string>#917ccd</string>
			<key>project</key>
			<string>#cd4e55</string>
			<key>line</key>
			<string>#000000</string>
			<key>priority</key>
			<string>#5874cd</string>
			<key>date_day</key>
			<string>#a8cd3a</string>
			<key>background</key>
			<string>#1e1e1e</string>
		</dict>
		<key>light</key>
		<dict>
			<key>completed</key>
			<string>#7e7e7e</string>
			<key>background</key>
			<string>#eeeeee</string>
			<key>selection</key>
			<string>#4a4a4a</string>
			<key>context</key>
			<string>#917ccd</string>
			<key>project</key>
			<string>#cd4e55</string>
			<key>line</key>
			<string>#000000</string>
			<key>foreground</key>
			<string>#202020</string>
			<key>priority</key>
			<string>#5874cd</string>
			<key>date_day</key>
			<string>#7ca31b</string>
		</dict>
	</dict>
</array>
</plist>
